{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'reviews/css/detail.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
{% endblock style %}

{% block content %}
<div class="review_bg">
  <div class="review_card">
    <header class="review_card_header d-flex">
      <a href="{% url 'accounts:profile' review.user.username %}" class="review_card_user_img">
        {% if review.user.image %}
          <img src="{{ review.user.image.url }}" alt="{{ review.user }}_profile_image">
        {% else %}
          <img src="{% static '토르발즈.png' %}" alt="default_profile_img">
        {% endif %}
      </a>
      <div class="review_card_user d-flex flex-column mx-2">
        <a href="{% url 'accounts:profile' review.user.username %}" class="review_username">{{ review.user.username }}</a>
        <span class="review_user_info"><i class="bi bi-pencil-fill"></i> {{ review.user.review_set.count }} <i class="bi bi-people-fill"></i> {{ review.user.followers.count }}</span>
      </div>
      <div class="review_card_rate ms-auto">
        {% if review.rate == 5 %}
          <img src="{% static 'reviews/good_face_act.png' %}" alt="good_img">
          <p>맛있다</p>
        {% elif review.rate == 3 %}
          <img src="{% static 'reviews/ok_face_act.png' %}" alt="ok_img">
          <p>괜찮다</p>
        {% elif review.rate == 1 %}
          <img src="{% static 'reviews/no_face_act.png' %}" alt="no_img">
          <p>별로</p>
        {% endif %}
      </div>
    </header>
    <div class="review_info d-flex justify-content-between my-2">
      <span class="review_res_link"><a class="text-decoration-none" href="{% url 'restaurants:detail' restaurant_id %}" style="color: #ff7100">@ {{ review.restaurant.name }} - {{ review.restaurant.region }}</a></span>
      <span class="review_created">{{ review.created_at|date:"Y-m-d" }}</span>
    </div>
    <p class="text-break">{{ review.content|linebreaksbr }}</p>

    <div class="review_picture_container">
      {% for photo in review.reviewphoto_set.all %}
      <div class="review_picture">
        <img src="{{ photo.image_thumbnail.url }}" alt="review_thumbnail">
      </div>
      {% endfor %}
    </div>
    
    <div class="mt-3 d-flex justify-content-between">
      <form id="review-like-form" data-restaurant-id="{{ review.restaurant.pk }}" data-review-id="{{ review.pk }}">
        {% csrf_token %}
        {% if request.user.is_authenticated %}
          {% if request.user in review.like_users.all %}
            <button class="btn btn-sm btn-outline-danger" type="submit"><i class="bi bi-heart-fill"></i> <span id="review-like-count">{{ review.like_users.count }}</span></button>
          {% else %}
            <button class="btn btn-sm btn-outline-danger" type="submit"><i class="bi bi-heart"></i> <span id="review-like-count">{{ review.like_users.count }}</span></button>
          {% endif %}
        {% else %}
          <button class="btn btn-sm btn-outline-danger disabled" type="submit"><i class="bi bi-heart-fill"></i> <span id="review-like-count">{{ review.like_users.count }}</span></button>
        {% endif %}
      </form>

      <div class="d-flex ">
        {% if request.user == review.user %}
          <a class="btn btn-sm btn-outline-danger mx-1" href="{% url 'reviews:update' restaurant_id=restaurant_id review_id=review_id %}">수정</a>
          <form action="{% url 'reviews:delete' restaurant_id=restaurant_id review_id=review_id %}">
            {% csrf_token %}
            <input class="btn btn-sm btn-outline-danger mx-1" type="submit" value="삭제">
          </form>
        {% endif %}
        <a class="btn btn-sm btn-outline-danger mx-1" href="{% url 'restaurants:detail' restaurant_id  %}">뒤로</a>
      </div>
    </div>
    <hr>
    <div class="comments_container">
      <p><i class="bi bi-chat"></i> 댓글({{ review.comment_set.count }})</p>
      <ul class="comment_list list-unstyled">
        {% for comment in comments %}
          <li class="comment_container py-2 border-bottom">
            <header class="d-flex">
              <a href="{% url 'accounts:profile' comment.user.username %}" class="comment_user_profile_img">
                {% if comment.user.image %}
                  <img src="{{ comment.user.image.url }}" alt="{{ comment.user }}_profile_image">
                {% else %}
                  <img src="{% static '토르발즈.png' %}" alt="default_profile_img">
                {% endif %}
              </a>
              <div class="mx-2">
                <a href="{% url 'accounts:profile' comment.user.username %}" class="comment_username">{{ comment.user.username }}</a>
              </div>
              <div class="mx-2">
                <span class="comment_created">{{ comment.created_at|date:'Y-m-d' }}</span>
              </div>
              <div class="ms-auto d-flex">
                {% if request.user == comment.user %}
                  <input type="button" class="comment-edit-btn btn btn-sm btn-outline-danger comment_btn mx-1" data-review-id="{{ review.pk }}" data-comment-id="{{ comment.pk }}" value="수정">
                  <form action="{% url 'reviews:comment_delete' restaurant_id=restaurant_id review_id=review_id comment_pk=comment.pk %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-sm btn-outline-danger comment_btn" type="submit" value="삭제" >
                  </form>
                {% endif %}
              </div>
            </header>
            <p id="comment-content-{{ comment.pk }}"class="mt-2 text-break">{{ comment.content|linebreaksbr }}</p>

            <form class="comment-edit-form my-3" id="comment-edit-form-{{ comment.pk }}" data-review-id="{{ review.pk }}" data-comment-id="{{ comment.pk }}" data-restaurant-id="{{ restaurant_id }}" hidden>
              {% csrf_token %}
              <div class="input-group mb-3">
                {{ comment_form }}
                <input class="btn btn-outline-secondary update" type="submit" value="수정">
                <input class="btn btn-outline-secondary cancel" type="button" data-comment-id="{{ comment.pk }}"value="취소">
              </div>
            </form>

          </li>
        {% endfor %}
      </ul>
      <form action="{% url 'reviews:comment_create' restaurant_id=restaurant_id review_id=review_id %}" method="POST">
        {% csrf_token %}
          <div class="input-group mb-3">
            {{ comment_form }}
            <input class="btn btn-outline-secondary" type="submit" value="댓글 작성">
          </div>
        <div class="d-flex">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'reviews/js/detail.js' %}"></script>
{% endblock script %}