.review_bg {
  background-color: #E9E9E9;
}
.review_card {
  box-sizing: content-box;
  border: 10px solid #E9E9E9;
  width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
}

header .review_card_header {
  height: 50px;
}

.review_card_user_img > img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.review_card_user > span {
  margin: 1px;
}
.review_card_user {
  font-size: 18px;
}
.review_card_user .review_user_info {
  font-size: 14px;
  color: #b1b1b1;
}

.review_info {
  font-size: 14px;
}
.review_res_link {
  color: var(--main-mango);
}
.review_created {
  color: #b1b1b1;
}

.review_card_rate {
  font-size: 12px;
  color: var(--main-mango);
  text-align: center;
}
.review_card_rate > img {
  width: 30px;
  height: 30px;
  margin-top: 2px;
}
.review_card_rate p {
  margin: 1px;
}

.review_btn {
  border: 0;
}

.review_picture_container {
  white-space: nowrap;
  overflow-x: auto;
}
.review_picture {
  display: inline-block;
}

.comment_user_profile_img > img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.comment_created {
  color: #b1b1b1;
  font-size: 12px;
}
.comment_btn {
  --bs-btn-padding-y: .25rem;
  --bs-btn-padding-x: .5rem;
  --bs-btn-font-size: .75rem;
}

.comment_username,
.review_username {
  color: black;
  text-decoration: none;
}
.comment_username:hover,
.review_username:hover {
  color: black;
}