{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'restaurants/detail_style.css' %}">
{% endblock style %}

{% block content %}
<main class="main">
  <div class="restaurant__title">
    <h1>
      {{ restaurant.name }}
    </h1>
    <span>
      {{ reviews_averagerate}}
    </span>
  </div>
  <h1>
    {{ restaurant.name }}
  </h1>
  <div>
    <form id="wish-form" data-restaurant-id="{{ restaurant.pk }}">
      {% csrf_token %}
      {% if request.user in restaurant.wish_users.all %}
        <input type="submit" value="NOT WISH" class="btn btn-primary" style="background-color: #ff7001; border-color: #ff7001;">
      {% else %}
        <input type="submit" value="WISH" class="btn btn-primary" style="background-color: #ff7001; border-color: #ff7001;">
      {% endif %}
    </form>
  </div>
  <hr>
  <ul>
    <li>주소 : {{ restaurant.address }}</li>
    <li>전화번호 : {{ restaurant.phone }}</li>
    <li>음식 종류 : {{ restaurant.category }}</li>
    <li>가격대 : {{ restaurant.pricerange }}</li>
    <li>주차 : {{ restaurant.parking }}</li>
    <li>영업시간 : {{ restaurant.business_hours }}</li>
    {% if restaurant.eatdeal == True %}
    <li>잇딜 : 진행 중인 잇딜이 있습니다</li>
    {% else %}
    <li>잇딜 : 진행 중인 잇딜이 없습니다</li>
    {% endif %}
  </ul>
  <ul>
    {% for menu in menus %}
    <li>{{ menu.name }} : {{ menu.price }}
      <span>
        <form action="{% url 'restaurants:menu_delete' restaurant.pk menu.pk %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="MENU_DELETE">
        </form>
      </span>
    </li>
    {% endfor %}
  </ul>
  {% if request.user == restaurant.user %}
  <form action="{% url 'restaurants:menu' restaurant.pk %}" method="POST">
    {% csrf_token %}
    {% for field in menu_form %}
    <div class="input-group mb-3">
      <span class="input-group-text" style = "width: 13rem;" id="{{ field.auto_id }}">{{ field.label }}</span>
      {{ field }}
    </div> 
    {% endfor %}
    <div class="d-grid gap-2 mb-2">
      <input type="submit" class="btn btn-primary" style="background-color: #ff7001; border-color: #ff7001;" value="MENU">
    </div>
  </form>
  <form action="{% url 'restaurants:delete' restaurant.pk %}" method="POST">
    {% csrf_token %}
    <div class="d-grid gap-2 mb-2">
      <input type="submit" class="btn btn-primary" style="background-color: #ff7001; border-color: #ff7001;" value="DELETE">
    </div>
  </form>
  {% endif %}
  <div class="d-grid gap-2 mb-2">
    <a href="{% url 'reviews:create' restaurant.id %}" class="btn btn-primary" style="background-color: #ff7001; border-color: #ff7001;">REVIEW</a>
  </div>

  <hr>
  {% for review in reviews %}
    <ul class="comments_container">
      <li class="comment__container">
        <a class="d-flex" href="{% url 'reviews:detail' restaurant.pk review.pk %}">
          <div class="comment__user">
            <div class="comment__user__image__container">
              {% if review.user.profile_image %}
                {% comment %} {{ review.user.profile_image }} {% endcomment %}
              {% else %}
                <img class="comment__user__image" src="{% static '토르발즈.png' %}" alt="유저프로필사진 없음">
              {% endif %}
            </div>
            <span class="comment__user__id">
              {{ review.user }}
            </span>
            <div class="comment__user__info d-flex justify-content-center align-items-center">
              <svg class="comment__user__info__icon" fill="#DBDBDB" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M20.7,5.2a1.024,1.024,0,0,1,0,1.448L18.074,9.276l-3.35-3.35L17.35,3.3a1.024,1.024,0,0,1,1.448,0Zm-4.166,5.614-3.35-3.35L4.675,15.975,3,21l5.025-1.675Z"></path></g></svg>
              <span>
                {{ review.user.review_set.count }}
              </span>
              <svg class="comment__user__info__icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 19V18C3 15.7909 4.79086 14 7 14H11C13.2091 14 15 15.7909 15 18V19M15 11C16.6569 11 18 9.65685 18 8C18 6.34315 16.6569 5 15 5M21 19V18C21 15.7909 19.2091 14 17 14H16.5M12 8C12 9.65685 10.6569 11 9 11C7.34315 11 6 9.65685 6 8C6 6.34315 7.34315 5 9 5C10.6569 5 12 6.34315 12 8Z" stroke="#DBDBDB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
              <span>
                {{ review.user.followers.count }}
              </span>
            </div>
          </div>
          <div class="comment__content">
            <p class="comment__content__updateat">
              {{ review.created_at |date:"Y-m-d" }}
            </p>
            <p>
              {{ review.content }}
            </p>
          </div>
          <div class="comment__rate__container">
            {% if review.rate >= 4 %}
              <img src= "{% static 'reviews/good_face_act.png' %}" alt="good_face_act">
              <p>맛있다</p>
            {% elif review.rate >= 3%}
              <img src="{% static 'reviews/ok_face_act.png' %}" alt="ok_face_act.png">
              <p>괜찮다</p>
            {% else %}
              <img src="{% static 'reviews/no_face_act.png' %}" alt="no_face_act">
              <p>별로</p>
            {% endif %}
          </div>
        </a>
      </li>
    </ul>
  {% endfor %}

</main>

{% endblock content %}

{% block script %}
<script>
  const form = document.querySelector('#wish-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  form.addEventListener('submit', function (event) {
    event.preventDefault()
    const restaurantId = event.target.dataset.restaurantId
    axios({
      method: 'post',
      url: `/restaurants/${restaurantId}/wish/`,
      headers: {'X-CSRFToken': csrftoken},
    })
      .then((response) => {
        const isWished = response.data.is_wished
        const wishBtn = document.querySelector('#wish-form > input[type=submit]')
        if (isWished === true) {
          wishBtn.value = 'NOT WISH'
        } else {
          wishBtn.value = 'WISH'
        }
      })
  })
</script>
{% endblock script %}