{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'restaurants/eatdeal_style.css' %}">
{% endblock style %}

{% block content %}
  <header class="d-flex justify-content-center align-items-center text-center border-bottom">
    <div>
      <h1 class="mt-4">잇딜 진행 중 맛집</h1>
      <h4 class="mt-4 mb-4">"기왕이면 저렴하게 맛보고 즐기고!"</h4>
    </div>
  </header>
  {% for restaurant in restaurants %}
    <div class="container mb-3 border-bottom">
      <div class="row mt-3 mb-3">
        <div class="col-lg-3">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              {% for review in reviews %}
                {% if review.restaurant_id == restaurant.pk %}
                  <div class="picture_container carousel-item active">
                  {% for photo in review.reviewphoto_set.all %}
                    <div class="picture">
                      <a class="text-decoration-none" href="{% url 'restaurants:detail' restaurant.pk %}"><img class="align-self-center img-thumbnail mb-3 mt-3" src="{{ photo.image_thumbnail.url }}" alt=""></a>
                    </div>
                  {% endfor %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <h3><a class="text-decoration-none" href="{% url 'restaurants:detail' restaurant.pk %}">{{ forloop.counter }}. {{ restaurant.name }} <span class="span__rate">{{ restaurant.rate|floatformat:1 }}</span></a></h3>
          <h5>{{ restaurant.address }}</h5>
          <p>{{ restaurant.first_review.user }} : {{ restaurant.first_review.content }}</p>
          <div class="text-end">
            <a class="text-decoration-none" href="{% url 'restaurants:detail' restaurant.pk %}">{{ restaurant.name }} 정보 더보기 ></a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock content %}

      {% comment %} <div>
        <form id="wish-form" data-restaurant-id="{{ restaurant.pk }}">
          {% csrf_token %}
          {% if request.user in restaurant.wish_users.all %}
            <input type="submit" value="NOT WISH" class="btn btn-primary" style="background-color: #ff7001; border-color: #ff7001;">
          {% else %}
            <input type="submit" value="WISH" class="btn btn-primary" style="background-color: #ff7001; border-color: #ff7001;">
          {% endif %}
        </form>
      </div> {% endcomment %}

{% comment %} {% block script %}
<script>
  const form = document.querySelector('#wish-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  form.addEventListener('submit', function (event) {
    event.preventDefault()
    const restaurantId = event.target.dataset.restaurantId
    axios({
      method: 'post',
      url: `/restaurants/${restaurantId}/wish/`,
      headers: {'X-CSRFToken': csrftoken},
    })
      .then((response) => {
        const isWished = response.data.is_wished
        const wishBtn = document.querySelector('#wish-form > input[type=submit]')
        if (isWished === true) {
          wishBtn.value = 'NOT WISH'
        } else {
          wishBtn.value = 'WISH'
        }
      })
  })
</script>
{% endblock script %} {% endcomment %}