{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'restaurants/index_style.css' %}">
{% endblock style %}


{% block content %}
  <header class="header__main d-flex justify-content-center align-items-center">
    <div>
      <p class="header__title">솔직한 리뷰, 믿을 수 있는 평점!</p>
      <h1 class="header__title">망고플레이트</h1>
    </div>
    <a class="header__tag--l" href="#">
      <img class="header__tag--l__img" src="{% static 'restaurants/eatdealpromo.png' %}" alt="eatdeal이동">
    </a>
  </header>
  <a class="header__tag--s" href="#">
    <img class="header__tag__img--s" src="{% static 'restaurants/eatdealpromo_s.png' %}" alt="eatdeal이동">
  </a>

  <main>
    <section class="main__section__container">
      <h2 class="main__section__title">카테고리별 맛집 리스트</h2>
      {% regroup restaurants by category as categories_list %}
      {% for category in categories_list %}
        <a href="{% url 'restaurants:category' category.grouper %}">{{ category.grouper }} 인기 맛집 TOP 10</a>
      {% endfor %}
    </section>

    <section class="main__section__container">
      <h2 class="main__section__title">EAT딜을 판매중인 식당</h2>
      <div class="row">
        {% for eatdeal in eatdeals %}
          <div class="main__section__items col-6 col-md-3">
            <a href="{% url 'restaurants:detail' eatdeal.pk %}">
              <div class="main__section__items__image__container">
                <img class="main__section__items__image__eatdeallogo" src="{% static 'restaurants/eatdeal.png' %}" alt="">
                <img class="main__section__items__image" src="{{ eatdeal.image_thumbnail.url }}" alt="{{ eatdeal.name }}">
              </div>
              <div class="main__section__items__info">
                <span class="main__section__items__info__title">{{ eatdeal.name }}</span>
                <span class="main__section__items__info__rate">{{ eatdeal.rate|floatformat:1 }}</span>
                <p class="main__section__items__info__category">{{ eatdeal.region }} - {{ eatdeal.category }}</p>
              </div>
            </a>  
          </div>
        {% endfor %}
      </div>
      
    </section>

    <section class="main__section__container">
      <h2 class="main__section__title">평점이 높은 인기 식당</h2>
      <div class="row">
        {% for ranking in rankings %}
          <div class="main__section__items col-6 col-md-3">
            <a href="{% url 'restaurants:detail' ranking.pk %}">
              <div class="main__section__items__image__container">
                <img class="main__section__items__image" src="{{ ranking.image_thumbnail.url }}" alt="{{ ranking.name }}">
              </div>
              <div class="main__section__items__info">
                <span class="main__section__items__info__title">{{ ranking.name }}</span>
                <span class="main__section__items__info__rate">{{ ranking.rate|floatformat:1 }}</span>
                <p class="main__section__items__info__category">{{ ranking.region }} - {{ ranking.category }}</p>
              </div>
            </a>  
          </div>
        {% endfor %}
      </div>
    </section>

    <section class="main__section__container">
      <h2 class="main__section__title">지역별 인기맛집</h2>
      {% regroup restaurants by region as regions_list %}
      {% for region in regions_list %}
      <a href="{% url 'restaurants:region' region.grouper %}">{{ region.grouper }} 인기 맛집 TOP 10</a>
      {% endfor %}
    </section>
  </main>
{% endblock content %}