{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'restaurants/region_style.css' %}">
{% endblock style %}

{% block content %}
  <header class="d-flex justify-content-center align-items-center text-center border-bottom">
    <div>
      <h1 class="mt-4">{{ restaurant_region }} 맛집 베스트 5곳</h1>
      <h4 class="mt-4 mb-4">"{{ restaurant_region }}에 갈 곳 많아도 식후경이지!"</h4>
    </div>
  </header>
  {% for restaurant in region_restaurants %}
    {% if restaurant.rate is not NONE %}
    <div class="container">
      <div class="row justify-content-center mt-3 mb-3">
        <div class="col-12 col-lg-3">
          <div class="picture_container float-end">
            <a class="text-decoration-none" href="{% url 'restaurants:detail' restaurant.pk %}"><img class="picture align-self-center" src="#" alt=""></a>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <h3><a class="restaurant__title text-decoration-none" href="{% url 'restaurants:detail' restaurant.pk %}">{{ forloop.counter }}. {{ restaurant.name }}<span class="span__rate"> {{ restaurant.rate|floatformat:1 }}</span></a></h3>
          <h5>{{ restaurant.address }}</h5>
          <p>{{ restaurant.review_set.first.user }} : {{ restaurant.review_set.first.content }}</p>
          <div class="text-end">
            <a class="text-decoration-none" href="{% url 'restaurants:detail' restaurant.pk %}">{{ restaurant.name }} 정보 더보기 ></a>
          </div>
        </div>
      </div>
      <hr class="divider w-100">
    </div>
    {% endif %}
  {% endfor %}
{% endblock content %}

{% comment %} {% block script %}
<script>
  const form = document.querySelector('#wish-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  form.addEventListener('submit', function (event) {
    event.preventDefault()
    const restaurantId = event.target.dataset.restaurantId
    axios({
      method: 'post',
      url: `/restaurants/${restaurantId}/wish/`,
      headers: {'X-CSRFToken': csrftoken},
    })
      .then((response) => {
        const isWished = response.data.is_wished
        const wishBtn = document.querySelector('#wish-form > input[type=submit]')
        if (isWished === true) {
          wishBtn.value = 'NOT WISH'
        } else {
          wishBtn.value = 'WISH'
        }
      })
  })
</script>
{% endblock script %} {% endcomment %}