{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'restaurants/css/search.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
{% endblock style %}

{% block content %}
<div class="container-md my-5">
  <form action="{% url 'restaurants:search' %}" method='GET'>
    <div class="search_container input-group flex-nowrap">
      <span class="search-icon"><i class="bi bi-search"></i></span>
      <input type="text" class="search_text" placeholder="지역, 식당 또는 음식" name="search">
      <input type="submit" class="search_submit" value="검 색">
    </div>
  </form>
  {% if search_text %}
    <h3 class="m-3">검색하신 <span class="text-color-main">{{ search_text }}</span>에 대한 맛집 검색 결과입니다.</h3>
    {% for restaurant in search_list %}
      <a href="{% url 'restaurants:detail' restaurant.pk %}" class="d-flex p-2 text-decoration-none text-dark">
        <div class="">
          <img src="{{ restaurant.review_set.all.first.reviewphoto_set.all.first.image_thumbnail.url }}" alt="">
        </div>
        <div class="flex-shrink-1 ms-3">
          <p class="fs-4">{{ restaurant.name }} <span class="text-color-sub">{{ restaurant.rate }}</span></p>
          <p>{{ restaurant.address }}</p>
          <p>{{ restaurant.menus }}</p>
        </div>
      </a>
    {% empty %}
      <h3><span class="text-color-main">{{ search_text }}</span>에 대한 결과가 없습니다.</h3>
    {% endfor %}
  {% else %}
    <h3>검색어를 입력해주세요.</h3>
  {% endif %}
</div>
{% endblock content %}