{% extends "base.html" %}
{% load static %}

{% block style %}

  {% endblock style %}
  
  {% block content %}
  <div class="container">
      <div style="margin-top: 5rem !important;">
          <div class="col-12">
  
              <div class="row justify-content-center">
                  <div class="card">
                      <div class="card-header" style="padding-bottom:8px;">
                          <strong style="font-size: 18px;"><i class="fas fa-user-cog"></i>내 정보</strong>
                      </div>
                      <div class="card-body">
                        <img src="{{ signup.image.url }}" alt="이미지">
                          <table style="color:black; margin-left:10px;">

                              <tr>
                                  <td class="profile_title">아이디 :</td>
                                  <td class="profile_content">{{ person.username }}</td>
                              </tr>
                              <tr>
                                  <td class="profile_title">이메일 :</td>
                                  <td class="profile_content">{{ person.email }}</td>
                              </tr>
                              <tr>
                                  <td class="profile_title">이름 :</td>
                                  <td class="profile_content">{{ person.name }}</td>
                              </tr>
                
                              </table>
                              <div class="d-grid gap-2 d-md-flex justify-content-md-end"> 
                              <form action="{% url 'accounts:follow' person.pk %}" method="POST" >
                                {% csrf_token %}
                                {% if request.user in person.followers.all %}
                                 <input type="submit" value="UnFollow" class='btn btn-primary'>
                                {% else %}
                                {% if request.user.is_authenticated %}
                                <input type="submit" value="Follow" class='btn btn-primary'>
                                {% else %}
                                <input type="submit" value="Follow" disabled class='btn btn-primary'>
                                {% endif %}
                                {% endif %}
                                </form>
                      </div>                

                                {% comment %} 팔로워 수 및 팔로잉 수 modal 트리거 {% endcomment %}
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                               <p class='my-auto'><a data-bs-toggle="modal" data-bs-target="#followers">팔로워 <b>{{ person.followers.all|length }}</b></a> / <a data-bs-toggle="modal" data-bs-target="#followings">팔로잉 <b>{{ person.followings.all|length }}</b></a></p></div>
                    </div>
                          <hr>
                          <div style="text-align: center;">
                          <!-- <div style="margin-left: 10px;"> -->
                              <a href="{% url 'accounts:logout' %}" style="color:#d14040f2; font-size:15px;"><i class="fas fa-user-edit"></i>&nbsp;로그아웃</a>&nbsp;&middot;&nbsp;
                              <a href="{% url 'accounts:update' %}" style="color:#d14040f2; font-size:15px;"><i class="fas fa-user-edit"></i>&nbsp;내정보수정</a>&nbsp;&middot;&nbsp;
                              <a href="{% url 'accounts:change_password' %}" style="color:#d14040f2; font-size:15px;"><i class="fas fa-user-lock"></i>&nbsp;비밀번호변경</a>&nbsp;&middot;&nbsp;
                              <a href="{% url 'accounts:delete' %}" style="color:#d14040f2; font-size:15px;"><i class="fas fa-user-slash"></i>&nbsp;회원탈퇴</a> <br>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  {% endblock %}