{% extends "base.html" %}
{% load static %}

{% block style %}

  {% endblock style %}
  
  {% block content %}
  <div class="container">
      <div style="margin-top: 5rem !important;">
          <div class="col-12">
  
              <div class="row justify-content-center">
                  <div class="card">
                      <div class="card-header" style="padding-bottom:8px;">
                          <strong style="font-size: 18px;"><i class="fas fa-user-cog"></i>내 정보</strong>
                      </div>
                      <div class="card-body">
                          <table style="color:black; margin-left:10px;">
                              <tr>
                                  <td>{{ person.username }}</td>
                              </tr>
                              <tr>
                                  <td class="profile_title">이메일</td>
                                  <td class="profile_content">{{ person.email }}</td>
                              </tr>
                              <tr>
                                  <td class="profile_title">이름</td>
                                  <td class="profile_content">{{ }}</td>
                              </tr>
                          </table>
      
                          <hr>
                          <div style="text-align: center;">
                          <!-- <div style="margin-left: 10px;"> -->
                              <a href="{% url 'accounts:update' %}" style="color:#d14040f2; font-size:15px;"><i class="fas fa-user-edit"></i>&nbsp;내정보수정</a>&nbsp;&middot;&nbsp;
                              <a href="{% url 'accounts:change_password' %}" style="color:#d14040f2; font-size:15px;"><i class="fas fa-user-lock"></i>&nbsp;비밀번호변경</a>&nbsp;&middot;&nbsp;
                              <a href="{% url 'accounts:delete' %}" style="color:#d14040f2; font-size:15px;"><i class="fas fa-user-slash"></i>&nbsp;회원탈퇴</a> <br>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  {% endblock %}