{% extends 'base.html' %}

{% block style %}
  <style>
    .wid {
      width: 500px;
    }

    p {
      display: grid;
      grid-template-columns: 1fr auto;
    }

    p span {
      grid-column: 1 / -1;
    }
  </style>
{% endblock style %}

{% block content %}
<div class="wid">
  <form action="{% url 'accounts:update' %}" method="POST" style="width: 500px" class="mx-auto m-5 mb-3">
    <div class='mt-5 mb-4'>
      <h3>회원정보 수정</h3>
    </div>
    {% csrf_token %}
    {% for field in form %}
    <div class='d-flex align-items-center'>
      <div class='col-3'>{{ field.label }}</div>
      <div class='col-9'>{{ field }}</div>
    </div>
    <hr>
    {% endfor %}
    <input type="submit" value="회원정보수정" class="btn btn-outline-secondary d-block w-100"> 
    <a class="btn btn-outline-secondary d-block w-100 my-3" onclick='func()' href="{% url 'accounts:change_password' %}" role="button">비밀번호 변경</a>
  </form>
  <form action="{% url 'accounts:delete' %}" method="POST" style="width: 500px" class="mx-auto m-5 mt-0">
    {% csrf_token %}
    <input class="btn btn-outline-secondary d-block w-100 mb-3" type="submit" value="회원탈퇴" onclick="return confirm('탈퇴 하시겠습니까?')">
    <a class="btn btn-outline-secondary d-block w-100" onclick='func()' href="{% url 'posts:index' %}" role="button">HOME</a>
  </form>

</div>
{% endblock content %}