a:hover {
  background-color: #f6f6f6;
}

.search_container {
  height: 50px;
  background-color: #fff;
  border: var(--main-mango) 3px solid;
  border-radius: 25px;
  margin-top: 1rem;
}

.search-icon {
  background-color: #fff;
  color: var(--sub-color);
  border: 0;
  border-radius: 25px !important;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  line-height: 50px;
}

.search_text {
  height: 100%;
  font-size: 30px;
  border: 0;
  outline: none !important;
  width: 100%;
}
.search_text::placeholder {
  color: var(--sub-color);
}

.search_submit {
  height: 100%;
  background-color: var(--main-mango);
  border: 0;
  border-radius: 25px !important;
  width: 150px;
  font-size: 25px;
  color: #ffffff;
}

.search_text_rate {
  color: var(--main-mango);
}