{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lucky Seven</title>
    <link rel="icon" href="{% static 'favicon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    {% comment %} owl carousel {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block style %}{% endblock style %}
    
  </head>
  <body>
    <nav class="sticky-top d-flex justify-content-between align-items-center bg-body p-3 navbar--main">
      <a href="{% url 'restaurants:index' %}">
        <img src="{% static 'mangoplate-logo-horizontal_1.png' %}" alt="홈이동">
      </a>
      <div class="d-flex">
        <div class="navbar__items d-flex align-items-center">
          <div class="ms-4 d-flex ">
            <a href="{% url 'restaurants:eatdeal' %}">EAT딜</a>
          </div>
          <div class="ms-4 py-auto">
            <a href="{% url 'restaurants:create' %}">맛집 등록</a>
          </div>
          <div class="ms-4 py-auto">
            <a href="{% url 'clndr:main' %}">만남 달력</a>
          </div>
          <div class="ms-4 py-auto">
            <a href="{% url 'chat:index' %}">채팅방</a>
          </div>
        </div>
        <div class="navbar__userprofileimage__container ms-3">
          {% if request.user.is_authenticated %}
            <a href="{% url 'accounts:profile' request.user.username %}">
              {% if request.user.image %}
                <img class="navbar__userprofileimage" src="{{ request.user.image.url }}" alt="유저프로필이미지">
              {% else %}
                <img class="navbar__userprofileimage" src="{% static '토르발즈.png' %}" alt="유저프로필이미지">
              {% endif %}
            </a>
          {% else %}
            <a href="{% url 'accounts:login' %}">
              <svg fill="#888888" viewBox="0 0 48 48" data-name="Layer 1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title></title><path d="M24,21A10,10,0,1,1,34,11,10,10,0,0,1,24,21ZM24,5a6,6,0,1,0,6,6A6,6,0,0,0,24,5Z"></path><path d="M42,47H6a2,2,0,0,1-2-2V39A16,16,0,0,1,20,23h8A16,16,0,0,1,44,39v6A2,2,0,0,1,42,47ZM8,43H40V39A12,12,0,0,0,28,27H20A12,12,0,0,0,8,39Z"></path></g></svg>
            </a>
          {% endif %}
        </div>
      </div>
    </nav>
    <div class="wrapper">
      <div class="content">
        {% block content %}{% endblock content %}
      </div>
      <footer class="footer__container">
        <div class="row">
          <div class="col-12 col-md-3">
            <img src="{% static 'mangoplate-gray-logo_1.png' %}" alt="">
            <p>Eat, Share, Be Happy.</p>
          </div>
          <div class="col-12 col-md-9">
            <ul class="footer__creators">
              <li>진홍엽</li>
              <li>김소은</li>
              <li>장재용</li>
              <li>정광배</li>
            </ul>
          </div>
          <div class="footer__copyrights">
            <span>© 2023 MangoPlate Co., Ltd. All rights reserved.</span>
          </div>
          <div>

          </div>
        </div>
        <img src="" alt="">
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {% comment %} jquey + owl carousel {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% block script %}{% endblock script %}
  </body>
</html>