{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lucky Seven</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
  <dir class="wrap">
    <img src="{% static 'backgroundimage.jpg' %}" class="bg-img" alt="">
    <div class="card">
      <a class="logo" href="{% url 'restaurants:index' %}">
        <img src="{% static 'img/logo_shadow_white.png' %}" class="logo-img" alt="">
        <img src="{% static 'img/logo_text_shadow_white.png' %}" class="logo-text" alt="">
      </a>
    </div>
  </dir>
</body>
</html>