{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lucky Seven</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
  <dir class="wrap">
    <div class="card">
      <img src="{% static 'backgroundimage.jpg' %}" alt="">
      <div class="logo">
        <img src="{% static 'logo_img.png' %}" alt="">
        <img src="{% static 'logo_texts.png' %}" alt="">
      </div>
    </div>
  </dir>
</body>
</html>