{% extends 'base.html' %}

{% block style %}
<style>
  .body__main {
    margin: 3rem;
  }
</style>
{% endblock style %}

{% block content %}
<div class="body__main">
  <form action="{% url 'clndr:update' meet.pk %}" method="POST">
    {% csrf_token %}
    {{ meet_form.as_p }}
    <div class="d-flex gap-2">
      <input type="submit" value="수정" class="btn btn-primary" style="background-color: var(--main-mango); border-color: var(--main-mango);">
  </form>
      <a href="{% url 'clndr:meet_detail' meet.pk %}" class="btn btn-primary" style="background-color: var(--main-mango); border-color: var(--main-mango);">돌아가기</a>
    </div>
</div>
{% endblock content %}